<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GodotVideoConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GodotVideoConverter.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedResolution" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedQuality" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedOgvMode" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fps" serializeAs="String">
                <value />
            </setting>
            <setting name="AtlasFps" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SelectedAtlasMode" serializeAs="String">
                <value>Grid</value>
            </setting>
            <setting name="SelectedAtlasResolution" serializeAs="String">
                <value>Medium</value>
            </setting>
        </GodotVideoConverter.Properties.Settings>
    </userSettings>
</configuration>